{% load static %}
<div id="shopify-section-footer" class="shopify-section">
    <footer class="footer-container footer-1" style="padding:100px 0px 0px 0px">
        
        <div class="footer-bottom">
            <div class="infor">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="footer-top-col-group">
                                <div class="widget-title">
                                    <h3>
                                        <span>ELIGOD ENTERPRISES LIMITED</span>
                                        <span class="ft-caret"><i class="ti-angle-down"
                                                aria-hidden="true"></i></span>
                                    </h3>
                                </div>
                                <div class="content">
                                    To provide suitable solutions and innovate, which will help the clients to optimize productivity.
                                    <div class="footer-share-social">
                                        <div class="custom-fotter-top">
                                            <div class="footer-icon-share">
                                                <a href="#">
                                                    <i class="ti-facebook"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="ti-twitter-alt"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="ti-google"></i>
                                                </a>
                                                <a href="#">
                                                    <i class="ti-linkedin"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-0 col-sm-3 col-xs-12">
                            
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-12">
                            <div class="footer-top-col-group">
                                <div class="widget-title">
                                    <h3>
                                        <span>Links</span>
                                        <span class="ft-caret"><i class="ti-angle-down"
                                                aria-hidden="true"></i></span>
                                    </h3>
                                </div>
                                <ul class="content">
                                    <li>
                                        <a href="{%  url 'pages:index' %}">
                                            <span>Home</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <span>Products</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{%  url 'pages:about' %}">
                                            <span>About</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{%  url 'pages:contact' %}">
                                            <span>Contact</span>
                                        </a>
                                    </li>
                                    <li>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="contact ">
                                <div class="widget-title">
                                    <h3>
                                        <span>Contact Us</span>
                                        <span class="ft-caret"><i class="ti-angle-down"
                                                aria-hidden="true"></i></span>
                                    </h3>
                                </div>
                                <div class="content">
                                    <ul>
                                        <li>
                                            <span>Office: 12 Fake Street,New York</span>
                                        </li>
                                        <li>
                                            <span>Phone: (08) 8827 633354</span>
                                        </li>
                                        <li>
                                            <span>Fax: 08) 08 4752 1499</span>
                                        </li>
                                        <li>
                                            <span>Mail: <a href="#"> support.goaltheme.com</a></span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="copyright-inner">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                            <address>
                                <span>© 2021</span>
                            </address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>