{% load static %}
<div id="shopify-section-header" class="shopify-section">
    <div id="section-header" data-section-id="header" data-section-type="header-section" class="
                                                                      header-2   
                                                                      ">
        <div class="header-topbar hidden-sm hidden-xs">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-xs-6 col-md-6 col-sm-6 text-left">
                        <span><span class="top-header">Welcome to ELIGOD ENTERPRISES LIMITED.</span></span>
                    </div>
                </div>
            </div>
        </div>
        <div id="header-content" class="  header-2 ">
            <div class="header ">
                <div class="container">
                    <div class="row">
                        <div class="header-inner">
                            <div class="main-header clearfix">
                                <div class="header-content-left col-lg-3 col-xs-5 col-md-2 col-sm-3">
                                    <div class="gts-logo">
                                        <div class="logo-sticky ">
                                            <a href="index.html">
                                                EEL
                                            </a>
                                        </div>
                                        <div class="logo d-none">
                                            <a href="{% url 'pages:index' %}">
                                                <img src="{% static 'img/eel-logo.png' %}" alt="" width="50px" height="auto" style="width:50px !important">
                                                <!-- <span style="font-size:2em; font-weight:700;">EEL</span> -->
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-content-center col-lg-6 col-xs-4 col-md-8 col-sm-7 clearfix">
                                    <div class="site-header-mainmenu ">
                                        <div class="menu-top hidden-xs">
                                            <div class="menu-action">
                                                <!--Top Menu -->
                                                <div class=" megamenu">
                                                    <ul class="navbar-nav site-nav">
                                                        <li class="menu-dropdown  level-top">
                                                            <a class="" href="{% url 'pages:index' %}" target="_self">
                                                                <span>Home</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-dropdown  level-top">
                                                            <a class="" href="{% url 'pages:index' %}" target="_self">
                                                                <span>Products</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-dropdown  level-top">
                                                            <a class="" href="{% url 'pages:about' %}" target="_self">
                                                                <span>About</span>
                                                            </a>
                                                        </li>
                                                        <li class="menu-dropdown  level-top">
                                                            <a class="" href="{% url 'pages:contact' %}" target="_self">
                                                                <span>Contact</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!-- End Menu -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="header-content-right col-lg-3 col-md-2 col-sm-2  col-xs-6 text-right">
                                    <div class="gts-social hidden-xs ">
                                        <ul class="list-unstyled list-inline shopify-social">
                                            <li class="shopify-social-icon">
                                                <a href="http://twitter.com/shopify" title="Twitter" target="_blank">
                                                    <span class="shopify-social--text"><span class="ti-instagram"></span></span>
                                                </a>
                                            </li>
                                            <li class="shopify-social-icon">
                                                <a href="http://facebook.com/shopify" title="Facebook" target="_blank">
                                                    <span class="shopify-social--text"><span class="ti-facebook"></span></span>
                                                </a>
                                            </li>
                                            <li class="shopify-social-icon">
                                                <a href="http://instagram.com/shopify" title="Instagram" target="_blank">
                                                    <span class="shopify-social--text"><span class="ti-twitter"></span></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="toggle-menu-right hidden-lg hidden-md hidden-sm">
                                    <div class="toggle-menu">
                                        <button class="navbar-toggle btn-menu-canvas" data-toggle="offcanvas"
                                            data-target="#off-canvas-nav">
                                            <i class="ti-menu"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nm-page-overlay"></div>
        </div>
    </div>
</div>