<div id="shopify-section-sections-sidebar-menu" class="shopify-section sidebar-menu-section">
    <section id="offcanvas" class="megamenu-canvas" data-section-id="sections-sidebar-menu"
        data-section-type="sidebar-menu-section">
        <div class="title h3">Menu</div>
        <div id="off-canvas-button">
            <span class="off-canvas-nav"><i class="ti-close"></i></span>
        </div>
        <nav class="offcanvas-mainnav">
            <ul class="nav navbar-nav megamenu">
                
                <li class="">
                    <a class="" href="{% url 'pages:index' %}" title="Home" target="_self">
                        <span>Home</span>
                    </a>
                </li>
                <li class="">
                    <a class="" href="#" title="Home" target="_self">
                        <span>Products</span>
                    </a>
                </li>
                <li class="">
                    <a class="" href="{% url 'pages:about' %}" title="Home" target="_self">
                        <span>About</span>
                    </a>
                </li>
                <li class="">
                    <a class="" href="{% url 'pages:contact' %}" title="Home" target="_self">
                        <span>Contact</span>
                    </a>
                </li>
            </ul>
            <ul class="list--inline social-fas social-fas--drawer">
                <li>
                    <a href="#"
                        title="translation missing: en.layout.footer.social_platform">
                        <span class="fa fa-twitter" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        title="translation missing: en.layout.footer.social_platform">
                        <span class="fa fa-facebook" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        title="translation missing: en.layout.footer.social_platform">
                        <span class="fa fa-instagram" aria-hidden="true"></span>
                    </a>
                </li>
                <li>
                    <a href="#"
                        title="translation missing: en.layout.footer.social_platform">
                        <span class="fa fa-youtube" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </section>
    <script>
        jQuery('.btn-menu-canvas').click(function () {
            if (jQuery('#offcanvas').hasClass('active')) {
                jQuery('body').removeClass('off-canvas-active');
                jQuery('#offcanvas').removeClass('active');
                jQuery('.wrapper-container').removeClass('offcanvas-push');
            } else {
                jQuery('body').addClass('off-canvas-active');
                jQuery('#offcanvas').addClass('active');
                jQuery('.wrapper-container').addClass('offcanvas-push');
            }
        });
        jQuery('#off-canvas-button').click(function () {
            jQuery('#offcanvas').removeClass('active');
            jQuery('.wrapper-container').removeClass('offcanvas-push');
        });
        jQuery(document).mouseup(function (e) {
            var container = jQuery("#offcanvas");
            if (!container.is(e.target) // if the target of the click isn't the container...
                &&
                container.has(e.target).length === 0) // ... nor a descendant of the container
            {
                jQuery('#offcanvas').removeClass('active');
                jQuery('.wrapper-container').removeClass('offcanvas-push');
            }
        });
        jQuery("#offcanvas .navbar-nav ul").hide();
        jQuery("#offcanvas .navbar-nav li h3 i").addClass("accordion-show");
        jQuery("#offcanvas .navbar-nav li h3 i").click(function () {
            if (jQuery(this).parent().next().is(":visible")) {
                jQuery(this).addClass("accordion-show");
            } else {
                jQuery(this).removeClass("accordion-show");
            }
            jQuery(this).parent().next().toggle(400);
            if (jQuery(this).hasClass("ti-plus")) {
                jQuery(this).removeClass("ti-plus");
                jQuery(this).addClass("ti-minus");
                jQuery(this).removeClass("ti-plus");
            } else {
                jQuery(this).removeClass("ti-minus");
                jQuery(this).addClass("ti-plus");
                jQuery(this).addClass("ti-plus");
            }
        });
    </script>
</div>